<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="success">
                    <th>Title</th>
                    <th>URL</th>                                       
                    <th>Description</th>
                    <th>Category</th> 
                    <th>Tags</th>                    
                    <th>Date</th>
                    <th>Public</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="bookmark in vm.bookmarks track by $index" >
                <tr ng-if="bookmark.user.username === vm.loggedInUser.username">
                    <td>{{bookmark.title}}</td>
                    <td>
                        <a href="http://{{bookmark.url}}" target="_blank">{{bookmark.url}}</a>
                    </td>                                       
                    <td>{{bookmark.description}}</td>
                    <td>{{bookmark.category.name}}</td>
                    <td>
                    	<span ng-repeat="tag in bookmark.tags">
	                    	<label class="label-primary">{{tag.name}}</label>
                    	</span>
                    </td>                    
                    <td>{{bookmark.creationDate | date : "d MMM y"}}</td>
                    <td class="option">
                    	<input type="checkbox" class="form-control" ng-model="bookmark.visible" ng-true-value="true" ng-false-value="false" disabled>
                    </td>
                    <td class="option">
                        <button class="btn btn-default" data-toggle="modal" data-target="#add-bookmark-modal" type="button" ng-click="vm.editBookmark(bookmark)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                    <td class="option">
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#delete-bookmark-modal" ng-click="vm.selectBookmark(bookmark)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#add-bookmark-modal" ng-click="vm.addBookmark()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <!-- Delete bookmark -->
        <div class="modal fade" id="delete-bookmark-modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete bookmark</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to delete <i>{{vm.bookmark.title}}</i> ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.deleteBookmark(vm.selectBookmark.id)">OK</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <!-- Add/Edit bookmark -->
        <div class="modal fade" id="add-bookmark-modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{vm.operation}} Bookmark</h4>
                    </div>
                    <div class="modal-body">

                        <form name="vm.addBookmarkForm" novalidate>
                            <div class="form-group">
                                <h4><span class="label label-primary">Category</span></h4>
                                <div class="modal-item">
                                    <select class="form-control" name="selectCategory" ng-options="category.name for category in vm.categories track by category.id" ng-model="vm.bookmark.category" required>
                                        <option value="" ng-disabled="true" disabled>---Must select category---</option>
                                    </select>
                                </div>
                                <h4><span class="label label-primary">Title</span></h4>
                                <div class="modal-item" ng-class="{ 'has-error' : vm.addBookmarkForm.title.$invalid && !vm.addBookmarkForm.title.$pristine }">
                                    <input name="title" type="text" class="form-control" required ng-model="vm.bookmark.title"/>
                                    <span class="error" ng-show="vm.addBookmarkForm.title.$invalid && !vm.addBookmarkForm.title.$pristine">* Title is required!</span>
                                    <span ng-if="vm.error.title" class="error">{{vm.error.title}}</span>
                                </div>
                                <h4><span class="label label-primary">Description</span></h4>
                                <div class="modal-item" ng-class="{ 'has-error' : vm.addBookmarkForm.description.$invalid && !vm.addBookmarkForm.description.$pristine }">
                                    <input name="description" type="text" class="form-control" required ng-model="vm.bookmark.description"/>
                                    <span class="error" ng-show="vm.addBookmarkForm.description.$invalid && !vm.addBookmarkForm.description.$pristine">* Description is required! </span>
                                </div>
                                <h4><span class="label label-primary">Tags</span></h4>
								<div class="modal-item" ng-class="{ 'has-error' : vm.addBookmarkForm.tags.$invalid && !vm.addBookmarkForm.tags.$pristine }"> 
                                	<div class="input-group">
	      								<input name="tags" type="text" class="form-control" placeholder="Add tag..." ng-model="vm.tag.name">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button" ng-click="vm.addTag()"><strong>Add</strong></button>
                                        </span>
								    </div>
								    <span ng-repeat="tag in vm.bookmark.tags">
	                    				<label class="label-primary">{{tag.name}}</label>
                    				</span>
                                    <span ng-repeat="tag in vm.newTags">
		                				<label class="label-primary">{{tag.name}}</label>
		               				</span>
                                </div>
                                <h4><span class="label label-primary">URL</span></h4>
                                <div class="modal-item" ng-class="{ 'has-error' : vm.addBookmarkForm.url.$invalid && !vm.addBookmarkForm.url.$pristine }">
                                    <input name="url" type="text" class="form-control" required ng-model="vm.bookmark.url"/>
                                    <span class="error" ng-show="vm.addBookmarkForm.url.$invalid && !vm.addBookmarkForm.url.$pristine">* URL is required! </span>
                                </div>
                                <h4><span class="label label-primary checkbox-inline">Public</span></h4>
                                <div class="modal-item" ng-class="{ 'has-error' : vm.addBookmarkForm.visible.$invalid && !vm.addBookmarkForm.visible.$pristine }">
                                    <input name="visible" type="checkbox" class="form-control" ng-model="vm.bookmark.visible" ng-true-value="true" ng-false-value="false"/>
                                </div>
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button type="button" ng-disabled="vm.addBookmarkForm.$invalid" data-dismiss="modal" class="btn btn-primary" ng-click="vm.saveBookmark(vm.bookmark)">OK</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>