<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="success">
                    <th>Title</th>
                    <th>URL</th>                                       
                    <th>Description</th>
                    <th>Category</th> 
                    <th>Tags</th>                    
                    <th>Date</th>
                    <th>Public</th>
                    <th>Details</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="bookmark in vm.bookmarks track by $index" >
                <tr ng-if="bookmark.user.username === vm.loggedInUser.username">
                    <td>{{bookmark.title}}</td>
                    <td>
                        <a href="http://{{bookmark.url}}" target="_blank">{{bookmark.url}}</a>
                    </td>                                       
                    <td>{{bookmark.description}}</td>
                    <td>{{bookmark.category.name}}</td>
                    <td>
                    	<span ng-repeat="tag in bookmark.tags | orderBy:'id'">
	                    	<label class="label-primary">{{tag.name}}</label>
                    	</span>
                    </td>                    
                    <td>{{bookmark.creationDate | date : "d MMM y"}}</td>
                    <td class="option">
                    	<input style="width: 80%" type="checkbox" class="form-control" ng-model="bookmark.visible" ng-true-value="true" ng-false-value="false" disabled>
                    </td>
                    	<td class="option">
							<button class="btn btn-default" data-toggle="modal" data-target="#details-bookmark-modal" type="button" ng-click="vm.detailsBookmark(bookmark)"><span class="glyphicon glyphicon-modal-window"></span></button>
						</td>
                    <td class="option">
                        <button class="btn btn-default" data-toggle="modal" data-target="#add-bookmark-modal" type="button" ng-click="vm.editBookmark(bookmark)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                    <td class="option">
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#delete-bookmark-modal" ng-click="vm.selectBookmark(bookmark)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#add-bookmark-modal" ng-click="vm.addBookmark()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="details-bookmark-modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Bookmark Details</h4>
                    </div>
                    <div class="modal-body">

                        <form name="vm.detailsBookmarkForm" novalidate>
							<fieldset>
								<div class="well container" style="width: 100%;">
									<legend>{{vm.bookmark.title}}</legend>
									<div><a href="http://{{vm.bookmark.url}}" target="_blank">{{vm.bookmark.url}}</a></div>
									<div>{{vm.bookmark.description}}</div>
									
									<div>{{vm.bookmark.category.name}}</div>
									<div>
										<span ng-repeat="tag in vm.bookmark.tags | orderBy:'id'"> 
											<label class="label-primary">{{tag.name}}</label>
										</span>
									</div>
								</div>
								<br>
								<div class="col-md-12">
									<!--Comments List-->
									<div ng-repeat="comment in vm.bookmark.comments | orderBy:'creationDate':true">
										<div class="panel panel-default">
											<div class="panel-heading">
												<div class="row">
													<div class="col-md-6">
														<span><u><i>{{comment.author.username}}</i></u></span>
													</div>
													<div class="col-md-6">
														<button ng-if="comment.author.username == vm.loggedInUser.username" type="button" class="close pull-right" ng-click=vm.deleteComment(comment)>&nbsp;&nbsp;&nbsp;&times;</button>
														<span uib-rating ng-if="comment.rate" class="text-primary pull-right" read-only="true" ng-model="comment.rate" max="5" state-on="'glyphicon-star'" state-off="'glyphicon-star-empty'" aria-labelledby="custom-icons-1"></span>											
													</div>
												</div>
											</div>
											<div class="panel-body">
												<span ng-if="comment.content">{{comment.content}}</span>
												<div>
													<h6><small class="pull-right">{{comment.creationDate | date : "d MMM y"}}</small></h6>													
												</div>
											</div>
										</div>									
									</div>
								</div>									
								<br>
							</fieldset>
                        </form>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="vm.closeDetailsBookmark()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
		</div>

        <!-- Modal -->
        <!-- Delete bookmark -->
        <div class="modal fade" id="delete-bookmark-modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete bookmark</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to delete <i>{{vm.bookmark.title}}</i> ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.deleteBookmark(vm.selectBookmark.id)">OK</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <!-- Add/Edit bookmark -->
        <div class="modal fade" id="add-bookmark-modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{vm.operation}} Bookmark</h4>
                    </div>
                    <div class="modal-body">
                        <form name="vm.addBookmarkForm" novalidate>
                            <div class="form-group">
                                <label><h5>Category:</h5></label>
                                <div>
                                    <select class="form-control" name="selectCategory" ng-options="category.name for category in vm.categories track by category.id" ng-model="vm.bookmark.category" required>
                                        <option value="" ng-disabled="true" disabled>---Must select category---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label><h5>Title:</h5></label>
                                <div ng-class="{ 'has-error' : vm.addBookmarkForm.title.$invalid && !vm.addBookmarkForm.title.$pristine }">
                                    <input name="title" type="text" class="form-control" required ng-model="vm.bookmark.title"/>
                                    <span class="error" ng-show="vm.addBookmarkForm.title.$invalid && !vm.addBookmarkForm.title.$pristine">* Title is required!</span>
                                    <span ng-if="vm.error.title" class="error">{{vm.error.title}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label><h5>Description:</h5></label>
                                <div ng-class="{ 'has-error' : vm.addBookmarkForm.description.$invalid && !vm.addBookmarkForm.description.$pristine }">
                                    <input name="description" type="text" class="form-control" required ng-model="vm.bookmark.description"/>
                                    <span class="error" ng-show="vm.addBookmarkForm.description.$invalid && !vm.addBookmarkForm.description.$pristine">* Description is required! </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label><h5>Tags:</h5></label>
								<div ng-class="{ 'has-error' : vm.addBookmarkForm.tags.$invalid && !vm.addBookmarkForm.tags.$pristine }"> 
                                	<div class="input-group">
	      								<input name="tags" type="text" class="form-control" placeholder="Add tag..." ng-model="vm.tag.name" ng-keypress="($event.charCode==13)?vm.addTag():return">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button" ng-click="vm.addTag()"><strong>Add</strong></button>
                                        </span>
                                    </div>
								    <span ng-repeat="tag in vm.bookmark.tags | orderBy:'id'">
	                    				<label ng-click="vm.deleteTag(tag)" ng-style="del" ng-class="dan" title="Delete Tag"
                                        ng-mouseenter="del={'text-decoration':'line-through'};dan='label-danger'"
                                        ng-mouseleave="del={'text-decoration':'none'};dan='label-primary'"  
                                        class="label label-primary" style="cursor: pointer;">{{tag.name}}</label>
                    				</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label><h5>URL:</h5></label>
                                <div ng-class="{ 'has-error' : vm.addBookmarkForm.url.$invalid && !vm.addBookmarkForm.url.$pristine }">
                                    <input name="url" type="text" class="form-control" required ng-model="vm.bookmark.url"/>
                                    <span class="error" ng-show="vm.addBookmarkForm.url.$invalid && !vm.addBookmarkForm.url.$pristine">* URL is required! </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label><h5>Public:</h5></label>
                                <div ng-class="{ 'has-error' : vm.addBookmarkForm.visible.$invalid && !vm.addBookmarkForm.visible.$pristine }">
                                    <input style="box-shadow: none;" name="visible" type="checkbox" class="form-control" ng-model="vm.bookmark.visible" ng-true-value="true" ng-false-value="false"/>
                                </div>
                            </div>
                            <br>
                        </form>
                        <div class="modal-footer">
                            <button type="button" ng-disabled="vm.addBookmarkForm.$invalid" data-dismiss="modal" class="btn btn-primary" ng-click="vm.saveBookmark(vm.bookmark)">OK</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>