<div class="row">
 <div class="col-sm-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="success">
                    <th>#</th>
                    <th>Category</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Tags</th>
                    <th>URL</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody ng-repeat="bookmark in vm.bookmarks track by $index">
                <tr>
                    <td>{{$index + 1}}</td>
                    <td>{{bookmark.category.name}}</td>
                    <td>{{bookmark.title}}</td>
                    <td>{{bookmark.description}}</td>
                    <td>
                    	<p ng-repeat="tag in bookmark.tags">{{tag.name}}</p>
                    </td>
                    <td>{{bookmark.url}}</td>
                    <td>{{bookmark.creationDate | date : "d MMM y"}}</td>
             </tr>
            </tbody>
        </table>
        </div>
        </div>