<div class="container">
    	<div class="row">
			<div class="col-md-4 col-md-offset-4">

			<div class="page-header">
				<h1 class="text-center">Social Bookmarks</h1>
			</div>
			
			<div ng-switch on="vm.toggleLoginRegister">
			
				<div ng-switch-when="login">
				
					<form name="vm.loginUserForm" role="form" ng-submit="vm.login()">
		
						<div class="form-group">
							<label for="username">Username:</label> <input type="text" class="form-control" id="username" name="username" ng-model="vm.credentials.username" />
						</div>
		
						<div class="form-group">
							<label for="password">Password:</label> <input type="password" class="form-control" id="password" name="password" ng-model="vm.credentials.password" />
						</div>
		
						<div class="alert alert-danger" ng-if="vm.loginError">Bad credentials!</div>
		
						<button type="submit" class="btn btn-primary">Submit</button>
						<a href="javascript:void(0)" ng-click="vm.toggleLoginRegister = 'register'" class=pull-right>Register</a>
					</form>
					
				</div>
			
				<div ng-switch-when="register">
				
					<form name="vm.registerUserForm" role="form" ng-submit="vm.register(vm.registerInput)">
						
						<div class="form-group">
							<label for="username">Username:</label>
							
	                        <div class="modal-item" ng-class="{ 'has-error' : vm.registerUserForm.username.$invalid && !vm.registerUserForm.username.$pristine }">
	                            <input name="username" type="text" class="form-control" required ng-model="vm.registerInput.username"/>
	                            <span class="error" ng-show="vm.registerUserForm.username.$invalid && !vm.registerUserForm.username.$pristine">* Username is required!</span>
	                            <span ng-if="vm.registrationError.username" class="error">* {{vm.registrationError.username}}</span>
	                        </div>
                        </div>
						
						<div class="form-group">
							<label for="password">Password:</label>
							
	                        <div class="modal-item" ng-class="{ 'has-error' : vm.registerUserForm.password.$invalid && !vm.registerUserForm.password.$pristine }">
	                            <input name="password" type="text" class="form-control" required ng-model="vm.registerInput.password"/>
	                            <span class="error" ng-show="vm.registerUserForm.password.$invalid && !vm.registerUserForm.password.$pristine">* Password is required!</span>
	                        </div>
                        </div>
		
						<div class="form-group">
							<label for="firstname"> Firstname:</label> <input type="text" class="form-control" id="firstname" name="firstname" ng-model="vm.registerInput.firstName" />
						</div>
		
						<div class="form-group">
							<label for="lastname">Lastname:</label> <input type="text" class="form-control" id="lastname" name="lastname" ng-model="vm.registerInput.lastName" />
						</div>

						<div class="form-group">
							<label for="email">Email:</label>
							
	                        <div class="modal-item" ng-class="{ 'has-error' : vm.registerUserForm.email.$invalid && !vm.registerUserForm.email.$pristine }">
	                            <input name="email" type="text" class="form-control" required ng-model="vm.registerInput.email"/>
	                            <span class="error" ng-show="vm.registerUserForm.email.$invalid && !vm.registerUserForm.email.$pristine">* Email is required!</span>
	                            <span ng-if="vm.registrationError.email" class="error">* {{vm.registrationError.email}}</span>
	                        </div>
                        </div>
		
						<div class="alert alert-danger" ng-if="vm.registrationError">Registration failed!</div>
		
						<button type="submit" class="btn btn-primary">Submit</button>
						<a href="javascript:void(0)" ng-click="vm.toggleLoginRegister = 'login'" class=pull-right>Login</a>
					</form>
						
				</div>
				
			</div>
		
		</div>
	
	</div>
	
</div>