<div>
	<div class="row">		
		<div class="col-sm-2">
			<div class="input-group input-group-sm">
				<input type="text" class="form-control" placeholder="Search user..." ng-model="vm.searchByUsername"></input>
				<span class="input-group-btn">
	       			<button class="btn btn-default" type="button" ng-click="vm.searchByUsername = ''"><span class="glyphicon glyphicon-remove"></span></button>
	   			</span>
   			</div>
   		</div>
   		<div class="col-sm-2">
			<div class="input-group input-group-sm">
				<input type="text" class="form-control" placeholder="Search category..." ng-model="vm.searchByCategory"></input>
				<span class="input-group-btn">
	       			<button class="btn btn-default" type="button" ng-click="vm.searchByCategory = ''"><span class="glyphicon glyphicon-remove"></span></button>
	   			</span>
   			</div>
		</div>
		<div class="col-sm-2">
			<div class="input-group input-group-sm">
				<input type="text" class="form-control" placeholder="Search description..." ng-model="vm.searchByDescription"></input>
				<span class="input-group-btn">
	       			<button class="btn btn-default" type="button" ng-click="vm.searchByDescription = ''"><span class="glyphicon glyphicon-remove"></span></button>
	   			</span>
   			</div>
		</div>
		<div class="col-sm-2">
			<div class="input-group input-group-sm">
				<input type="text" class="form-control" placeholder="Search tag..." ng-model="vm.searchByTag"></input>
				<span class="input-group-btn">
	       			<button class="btn btn-default" type="button" ng-click="vm.searchByTag = ''"><span class="glyphicon glyphicon-remove"></span></button>
	   			</span>
   			</div>
		</div>
   		<div class="col-sm-2">
			<div class="input-group input-group-sm">
				<span class="input-group-btn">
	       			<button class="btn btn-default" type="button" ng-click="vm.clearAll()">Clear All</button>
	   			</span>
   			</div>
   		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-bordered table-hover">
				<thead>
					<tr class="success">
						<th>User</th>
						<th>Title</th>
						<th>URL</th>
						<th>Description</th>
						<th>Category</th>
						<th>Tags</th>
						<th>Details</th>
						<th>Import</th>
					</tr>
				</thead>
				<tbody ng-repeat="bookmark in vm.bookmarks | filter:{category:{name:vm.searchByCategory}} | filter:{tags:{name:vm.searchByTag}} | filter:{description:vm.searchByDescription}  | filter:{user:{username:vm.searchByUsername}}">
					<tr ng-if="bookmark.user.username !== vm.loggedInUser.username">
						<td>{{bookmark.user.username}}</td>
						<td>{{bookmark.title}}</td>
						<td>
							<a href="http://{{bookmark.url}}" target="_blank">{{bookmark.url}}</a>
						</td>
						<td>{{bookmark.description}}</td>
						<td>{{bookmark.category.name}}</td>
						<td>
							<span ng-repeat="tag in bookmark.tags | orderBy:'id'"> 
								<label class="label-primary">{{tag.name}}</label>
							</span>
						</td>
						<td class="option">
							<button class="btn btn-default" data-toggle="modal" data-target="#details-bookmark-modal" type="button" ng-click="vm.detailsBookmark(bookmark)"><span class="glyphicon glyphicon-modal-window"></span></button>
						</td>
						<td class="option">
							<button class="btn btn-default" ng-click="vm.importBookmark(bookmark)" ng-disabled="vm.isImportDisabled(bookmark)"><span class="glyphicon glyphicon-import"></span></button>
						</td>
					</tr>
				</tbody>
			</table>
        </div>

        <div class="modal fade" id="details-bookmark-modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Bookmark Details</h4>
                    </div>
                    <div class="modal-body">

                        <form name="vm.detailsBookmarkForm" novalidate>
							<fieldset>
								<div class="well container" style="width: 100%;">
									<legend>
										{{vm.bookmark.title}}
										<div class="pull-right">
											<div>Average Rate:&nbsp;&nbsp;&nbsp;</div>
											<div uib-rating read-only="true" class="text-primary" ng-model="vm.averageRate" max="5" state-on="'glyphicon-star'" state-off="'glyphicon-star-empty'" aria-labelledby="custom-icons-1"></div>
										</div>
									</legend>
									<div><a href="http://{{vm.bookmark.url}}" target="_blank">{{vm.bookmark.url}}</a></div>
									<div>{{vm.bookmark.description}}</div>									
									<div>{{vm.bookmark.category.name}}</div>
									<div>
										<span ng-repeat="tag in vm.bookmark.tags | orderBy:'id'"> 
											<label class="label-primary">{{tag.name}}</label>
										</span>
									</div>
								</div>
								<br>
								<div class="col-md-12">
									<h4>	
										<span>Add Comment:</span>
										<div class="pull-right">
											<span>Rate:&nbsp;&nbsp;&nbsp;</span>
											<span uib-rating class="text-primary" ng-model="vm.comment.rate" max="5" state-on="'glyphicon-star'" state-off="'glyphicon-star-empty'" aria-labelledby="custom-icons-1"></span>
										</div>
									</h4>
									<textarea class="form-control" style="max-width: 100%;" id="comment" ng-model="vm.comment.content"></textarea>
									<button class="btn btn-primary btn-md" ng-click="vm.postComment(vm.comment)">Post</button>
									<br>
									<br>
									<!--Comments List-->
									<div ng-repeat="comment in vm.bookmark.comments | orderBy:'creationDate':true">
										<div class="panel panel-default">
											<div class="panel-heading">
												<div class="row">
													<div class="col-md-6">
														<span><u><i>{{comment.author.username}}</i></u></span>
													</div>
													<div class="col-md-6">
														<button ng-if="comment.author.username == vm.loggedInUser.username" type="button" class="close pull-right" ng-click=vm.deleteComment(comment.id)>&nbsp;&nbsp;&nbsp;&times;</button>
														<span ng-if="comment.rate != 0" uib-rating ng-if="comment.rate" class="text-primary pull-right" read-only="true" ng-model="comment.rate" max="5" state-on="'glyphicon-star'" state-off="'glyphicon-star-empty'" aria-labelledby="custom-icons-1"></span>											
													</div>
												</div>
											</div>
											<div class="panel-body">
												<span ng-if="comment.content">{{comment.content}}</span>
												<div>
													<h6><small class="pull-right">{{comment.creationDate | date : "d MMM y"}}</small></h6>													
												</div>
											</div>
										</div>									
									</div>
								</div>									
								<br>
							</fieldset>
                        </form>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="vm.closeDetailsBookmark()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>