<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="success">
                    
                    <th>Username</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody ng-repeat="user in vm.users track by $index" >
                <tr>
                 
                    <td>{{user.username}}</td>
                     <td>{{user.firstName}}</td>
                      <td>{{user.lastName}}</td>
                       <td>{{user.email}}</td>
               
                    <td class="option">
                        <button class="btn btn-default" data-toggle="modal" data-target="#add-bookmark-modal" type="button" ng-click="vm.editBookmark(bookmark)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                    <td class="option">
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#delete-bookmark-modal" ng-click="vm.selectBookmark(bookmark)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#add-bookmark-modal" ng-click="vm.addBookmark()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <!-- Delete book -->
        <div class="modal fade" id="delete-bookmark-modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn btn-primary" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete bookmark</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to delete <i>{{vm.bookmark.title}}</i> ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.deleteBookmark(vm.selectedBookmark.id)">OK</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
